/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 23, 2017, 11:13:12 AM
    Author     : baileykrebs
*/


body {
    
    background-color: #63A6A6;
    font-family: arial;
    font-color: 000404;
}

h1 {
    font-size: 24px;
}